<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Получение выражения</title>
    </head>
    <body>
        <h2>Получение выражения по его ID</h2>
        <form method="POST" action="showexpr">
            <label>ID выражения</label><br>
            <input type="number" name="id" /><br><br>
            <input type="submit" value="Получить" />
        </form>
        <p><a href="/api/v1/web">Главная</a></p>
        <p><a href="/api/v1/web/account">Мой аккаунт</a></p>
    </body>
</html>